<% if @product.image.present? %>


<div class="container is-widescreen">
<div class="card product">
  <div class="card-content">
<div class="card-image">
<h3 class="title is-4"><%= @product.ProductName %></h3>
  <%= image_tag url_for(@product.image.variant(resize: "600x600"))%>
    <p><%=  @product.Price%></p>
   <p><%=  @product.Description%></p>
    <p><%= @product.ProductDetails%></p>
                  <p>Quantity - <%= number_field_tag 'quantity'%> </p>
              <p><%= link_to 'Add To Cart', add_to_cart_path(@product.id), method: :post %> </p>
</div>
<% end %>
</div>
</div>
</div>