<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', permalink_path(permalink: 'about')%></li>
          <li><%= link_to 'Contact', permalink_path(permalink: 'contact') %></li>

          <% if customer_information_signed_in? %>
            <li><%= link_to current_customer_information.email, edit_customer_information_registration_path %> </li>
            <li><%= link_to 'Logout', destroy_customer_information_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to 'Sign Up', new_customer_information_registration_path %></li>
          <li><%= link_to 'Login', new_customer_information_session_path %></li>
          <% end %>

        </ul>
      </nav>
  </header>
  <header>
    <h3>Categories</h3>
    <nav>
      <ul>
        <li><%= link_to 'BoyGroup', category_path(@category = 1)%></li>
        <li><%= link_to 'GirlGroup', category_path(@category = 2)%></li>
      </ul>
    </nav>
  </header>

<%= form_with(url: search_results_product_index_path, method: "get", local: true) do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>

  <%= collection_select(:categorys, :category_id, Category.all, :id, :name, :include_blank => true)%>
  <%= submit_tag("Search") %>
<% end %>
    <%= yield %>
  </body>
</html>
