<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', permalink_path(permalink: 'about')%></li>
          <li><%= link_to 'Contact', permalink_path(permalink: 'contact') %></li>
        </ul>
      </nav>
  </header>

<%= form_with(url: search_results_product_index_path, method: "get", local: true) do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>
  <%= select_tag  :query, options_for_select(["Boy", "Girl","All Groups"])%>
  <%= submit_tag("Search") %>
<% end %>
    <%= yield %>
  </body>
</html>
