<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <nav class="level">
    <div class="level-left">
        <p class="level-item has-text-centered">
          <%= link_to 'Home', root_path, class: 'button is-link is-light' %>
        </p>
        <p class="level-item has-text-centered">
         <%= link_to 'About', permalink_path(permalink: 'about'), class: 'button is-link is-light'%>
        </p>
        <p class="level-item has-text-centered">
         <%= link_to 'Contact', permalink_path(permalink: 'contact'),class: 'button is-link is-light' %>
        </p>
    </div>

    <div class="level-right">
        <p class="level-item has-text-centered">
          <% if customer_information_signed_in? %>
           <%= link_to current_customer_information.email, edit_customer_information_registration_path, class: 'button is-primary is-outlined' %>
        </p>
        <p class="level-item has-text-centered">
           <%= link_to 'Logout', destroy_customer_information_session_path, method: :delete, class: 'button is-primary is-outlined' %>
        </p>
          <% else %>
        <p class="level-item has-text-centered">
          <%= link_to 'Sign Up', new_customer_information_registration_path, class: 'button is-primary is-outlined' %>
        </p>

        <p class="level-item has-text-centered">
         <%= link_to 'Login', new_customer_information_session_path, class: 'button is-primary is-outlined' %>
        </p>
          <% end %>

        <p class="level-item">
        <%= form_with(url: search_results_product_index_path, method: "get", local: true) do %>
          <%= label_tag(:query, "Search for:") %>
          <%= text_field_tag(:query) %>


        <%= collection_select(:categorys, :category_id, Category.all, :id, :name, :include_blank => 'All')%>
        <%= submit_tag("Search") %>
        </form>
  <% end %>
   </div>
</nav>
  <nav class="level">
  <div class="level-center">
  <p class="title is-1">K-GALLERY </p>
  </div>
  </nav>
  <aside class="menu">

    <h3 class="menu-label">Categories</h3>
    <nav class="level">
      <ul class="menu-list">
        <li><%= link_to 'BoyGroup', category_path(@category = 1)%></li>
        <li><%= link_to 'GirlGroup', category_path(@category = 2)%></li>
      </ul>
    </nav>
  </aside>
   <%= yield %>
  </body>
</html>
